<div class="calculator">

    <form>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa-solid fa-pen"></i></span>
            <input id="operator1" [(ngModel)]="operator1" type="number" class="form-control operator1" name="operator1" placeholder="0.0">
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="fa-solid fa-pen"></i></span>
            <input id="operator2" [(ngModel)]="operator2" type="number" class="form-control operator2" name="operator2" placeholder="0.0">
        </div>
    </form>
    <div class="buttons-div">
        <div class="button-calc addition-button" (click)="addition()">
            <i class="fa-solid fa-plus"></i>
        </div>
    
        <div class="button-calc substraction-button" (click)="substraction()">
            <i class="fa-solid fa-minus"></i>
        </div>
    
        <div class="button-calc multiplication-button" (click)="multiplication()">
            <i class="fa-solid fa-xmark"></i>
        </div>
    
        <div class="button-calc division-button" (click)="division()">
            <i class="fa-solid fa-divide"></i>
        </div>
    
        <div class="button-calc sqrt-button" (click)="sqrt()">
            <i class="fa-solid fa-square-root-variable"></i>
        </div>
    
        <div class="button-calc exp-button" (click)="exp()">
            <i class="fa-solid fa-superscript"></i>
        </div>
    </div>

</div>

<div class="result-div">
    <span style="color: black; font-size: 2.5rem;">Result:</span>
    <br>
    <span class="result">{{ result }}</span>
</div>
